*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #548687;
    text-align: center;
    box-sizing: border-box;
}
h1{
    margin-top: 2rem;
}
.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem (0, 0 , 0 , 0.3);
    font-size: 5vmin;
    color: #b0413e;
    background-color: #ffffc7;
    cursor: pointer;
}
#reset-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: #fff;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
}
#playAgain-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: #fff;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
}
#message {
    color: #ffffc7;
    font-size: 5vmin;
}
.message-container{
    height: 90vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}
.hide{
    display: none;
}